body {
    margin: 0px;
    padding: 0px;
    height: 35rem;
    width: 25%;
}

.container1 {
    position: absolute;
    left: 35%;
    right: 35%;
    top: 8%;
    bottom: 0%;
    width: 25%;
    height: 35rem;
    background-image: url(2.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    left: 35%;
    right: 35%;
    width: 25%;
    top: 0%;
    bottom: 0%;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    box-sizing: border-box;
    height: 10rem;
    width: 80%;
    border: 2px solid rgb(235, 73, 73);
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(160, 158, 158);
    text-align: center;
    background-color: white;
}

.lis {
    padding: 10px;
    margin-top: 1rem;
}

#lbl {
    padding-bottom: 20px;
    margin-bottom: 10px;
    color: rgb(235, 73, 73);
    font-weight: 600;
}

#add {
    margin-top: 20px;
    margin-bottom: 15px;
    border: 2px solid rgb(235, 73, 73);
    border-radius: 5px;
    box-shadow: 2px 2px 10px grey;
}

#btn {
    border-radius: 20px;
    border: 2px solid rgb(235, 73, 73);
    height: 30px;
    width: 75px;
    background-color: rgb(235, 73, 73);
    font-size: 15px;
    color: white;
    font-weight: bold;
}

#btn:hover {
    color: rgb(235, 73, 73);
    background-color: white;
}

@media screen and (min-width:0px) and (max-width:767px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        overflow: hidden;
    }
    .container1 {
        position: absolute;
        top: 8%;
        width: 100%;
        height: 35rem;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background-image: url(2.png);
        background-size: cover;
        background-repeat: no-repeat;
        filter: blur(8px);
        -webkit-filter: blur(8px);
        border: 2px solid black;
    }
    .container {
        box-sizing: border-box;
        position: absolute;
        top: 0%;
        width: 100%;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        height: 35rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box {
        box-sizing: border-box;
        height: 10rem;
        width: 80%;
        border: 2px solid rgb(235, 73, 73);
        border-radius: 10px;
        box-shadow: 3px 3px 10px rgb(160, 158, 158);
        text-align: center;
        background-color: white;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        overflow: hidden;
    }
    .container1 {
        box-sizing: border-box;
        position: absolute;
        top: 2rem;
        width: 80%;
        height: 35rem;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background-image: url(1.png);
        background-size: cover;
        filter: blur(8px);
        -webkit-filter: blur(8px);
        display: flex;
    }
    .container {
        box-sizing: border-box;
        position: absolute;
        top: 2rem;
        width: 80%;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        height: 35rem;
        display: flex;
    }
    .box {
        box-sizing: border-box;
        height: 10rem;
        width: 70%;
        margin-right: 1.5rem;
        border: 2px solid rgb(235, 73, 73);
        border-radius: 10px;
        box-shadow: 3px 3px 10px rgb(160, 158, 158);
        background-color: white;
    }
}