body {
    overflow: hidden;
    height: 90vh;
    width: 30vw;
    margin: auto;
    padding: auto;
    margin-top: 2rem;
}

.container {
    box-sizing: border-box;
    position: absolute;
    margin: auto;
    padding: auto;
    width: 30vw;
    height: 90vh;
}

.first {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.heading {
    font-size: 3rem;
    margin-right: 1rem;
}

.tasks {
    font-weight: bolder;
    color: rgb(22, 21, 21);
}

.lists {
    color: grey;
}

.fa,
.fas {
    color: red;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    font-size: 3rem;
}

.second {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
    height: auto;
    position: relative;
}

.box {
    height: 3rem;
    width: 20rem;
    border: 2px solid rgb(235, 73, 73);
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    margin: 1rem;
}

.trip {
    font-size: 1rem;
    color: grey;
    text-decoration: none;
}

.subhead {
    margin-left: 1rem;
}

@media screen and (min-width:0px) and (max-width:767px) {
    body {
        overflow: hidden;
        height: 85vh;
        width: 90vw;
        margin: auto;
        padding: auto;
        margin-top: 2rem;
    }
    .container {
        box-sizing: border-box;
        position: absolute;
        margin: auto;
        padding: auto;
        width: 90vw;
        height: 85vh;
    }
    .first {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .heading {
        padding-right: 2rem;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    body {
        overflow: hidden;
        height: 90vh;
        width: 90vw;
        margin: auto;
        padding: auto;
        margin-top: 2rem;
    }
    .container {
        box-sizing: border-box;
        position: absolute;
        margin: auto;
        padding: auto;
        width: 90vw;
        height: 90vh;
    }
    .first {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .heading {
        padding-right: 2rem;
    }
}