body {
    margin: 0px;
    padding: 0px;
}

.container {
    position: absolute;
    top: 2rem;
    left: 35%;
    right: 35%;
    width: 25%;
    height: 35rem;
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-arrow-circle-left:before {
    content: "\f0a8";
    color: rgb(250, 60, 60);
}

.fa,
.fas {
    box-sizing: border-box;
    font-weight: 500;
    font-size: 2.5rem;
    margin-left: 1rem;
}

.heading {
    box-sizing: border-box;
    font-size: 2rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.699);
    margin-right: 5rem;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subhead {
    font-size: 25px;
    color: rgb(235, 73, 73);
    margin-bottom: 10px;
}

.strike {
    text-decoration: line-through;
    font-size: 1.4em;
    color: rgb(235, 73, 73);
    font-weight: bold;
}

.box {
    box-sizing: border-box;
    height: 25rem;
    width: 80%;
    margin-left: 0.4em;
    border: 2px solid rgb(235, 73, 73);
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(160, 158, 158);
    text-align: center;
}

.forms {
    font-size: 1em;
    position: relative;
}

hr {
    width: 80%;
    margin-right: 0px;
}

i {
    color: rgb(235, 73, 73);
}

.plus {
    position: absolute;
    right: 0.5rem;
    margin-top: 12rem;
}