    body {
        margin: 0px;
        padding: 0px;
    }
    
    .container {
        position: absolute;
        top: 2rem;
        left: 35%;
        right: 35%;
        width: 25%;
        height: 35rem;
    }
    
    .first {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .fa-arrow-circle-left:before {
        content: "\f0a8";
        color: rgb(250, 60, 60);
    }
    
    .fa,
    .fas {
        box-sizing: border-box;
        font-weight: 500;
        font-size: 2.5rem;
        margin-left: 1rem;
    }
    
    .heading {
        box-sizing: border-box;
        font-size: 2rem;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.699);
        margin-right: 5rem;
    }
    
    .second {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .subhead {
        font-size: 25px;
        color: rgb(235, 73, 73);
        margin-bottom: 10px;
    }
    
    .strike {
        text-decoration: line-through;
        font-size: 1.4em;
        color: rgb(235, 73, 73);
        font-weight: bold;
    }
    
    .box {
        box-sizing: border-box;
        height: 25rem;
        width: 80%;
        margin-left: 0.4em;
        border: 2px solid rgb(235, 73, 73);
        border-radius: 10px;
        box-shadow: 3px 3px 10px rgb(160, 158, 158);
        text-align: center;
    }
    
    .forms {
        font-size: 1em;
        position: relative;
    }
    
    hr {
        width: 80%;
        margin-left: 3.5rem;
    }
    
    i {
        color: rgb(235, 73, 73);
    }
    
    .plus {
        position: absolute;
        right: 0.5rem;
        margin-top: 12rem;
    }
    
    @media screen and (min-width:0px) and (max-width:767px) {
        * {
            margin: 0;
            padding: 0;
        }
        .container {
            position: absolute;
            top: 2rem;
            left: auto;
            right: auto;
            width: 100%;
            height: auto;
        }
        .first {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;
        }
        .fa-arrow-circle-left:before {
            content: "\f0a8";
            color: rgb(250, 60, 60);
        }
        .fa,
        .fas {
            box-sizing: border-box;
            font-weight: 500;
            font-size: 2.5rem;
            margin-left: 1rem;
        }
        .heading {
            box-sizing: border-box;
            font-size: 2rem;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.699);
            margin-right: 5rem;
        }
        .second {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .subhead {
            box-sizing: border-box;
            font-size: 1.5rem;
            color: rgb(235, 73, 73);
            margin: 1rem;
        }
        .strike {
            text-decoration: line-through;
            font-size: 1.4em;
            color: rgb(235, 73, 73);
            font-weight: bold;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
        .box {
            box-sizing: border-box;
            height: 25rem;
            width: 80%;
            margin-left: 0.4em;
            border: 2px solid rgb(235, 73, 73);
            border-radius: 10px;
            box-shadow: 3px 3px 10px rgb(160, 158, 158);
            text-align: center;
        }
        .forms {
            font-size: 1rem;
            position: relative;
        }
        hr {
            width: 80%;
            margin-left: 3.5rem;
        }
        i {
            color: rgb(235, 73, 73);
        }
        .plus {
            position: absolute;
            right: 0.5rem;
            margin-top: 13rem;
        }
    }
    
    @media screen and (min-width:767px) and (max-width:1023px) {
        * {
            margin: 0;
            padding: 0;
        }
        .container {
            box-sizing: border-box;
            position: absolute;
            top: 2rem;
            left: auto;
            right: auto;
            width: 100%;
            height: auto;
        }
        .first {
            display: flex;
            justify-content: space-between;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;
        }
        .fa-arrow-circle-left:before {
            content: "\f0a8";
            color: rgb(250, 60, 60);
        }
        .fa,
        .fas {
            box-sizing: border-box;
            font-weight: 500;
            font-size: 2.5rem;
            margin-left: 1rem;
        }
        .heading {
            box-sizing: border-box;
            font-size: 2em;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.699);
            margin-right: 8em;
            margin-left: 5em;
        }
        .second {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .subhead {
            box-sizing: border-box;
            font-size: 1.5rem;
            color: rgb(235, 73, 73);
            margin: 1rem;
        }
        .strike {
            text-decoration: line-through;
            font-size: 1.4em;
            color: rgb(235, 73, 73);
            font-weight: bold;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
        .box {
            box-sizing: border-box;
            height: 25rem;
            width: 50%;
            margin-left: 0.4em;
            border: 2px solid rgb(235, 73, 73);
            border-radius: 10px;
            box-shadow: 3px 3px 10px rgb(160, 158, 158);
            text-align: center;
            margin-bottom: 2em;
        }
        .forms {
            font-size: 1rem;
            position: relative;
        }
        hr {
            width: 80%;
            margin-left: 3.5rem;
        }
        i {
            color: rgb(235, 73, 73);
        }
        .plus {
            position: absolute;
            right: 0.5rem;
            margin-top: 13rem;
        }
    }